<%- include ("./partials/header")  %> 

<h1>Login page</h1>
<br>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
<%- include ("./partials/footer") %> 